/* styles.css */

/*estilo tipo de carta*/
.pokemon-card-normal {
    -fx-background-radius: 15px;
    -fx-padding: 20px;
    -fx-background-color: linear-gradient(to bottom, #313335, #54575b);
    -fx-border-radius: 15px;
    -fx-border-color: rgba(149, 141, 143, 0.2);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 2);
    -fx-background-radius: 15px;
    -fx-padding: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 2);
    -fx-transition: all 0.3s ease-in-out;
}

.pokemon-card-normal:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(254, 254, 254, 0.76), 15, 0.5, 0, 0);
}

/*estilo tipo de carta*/
.pokemon-card-fire {
    -fx-background-radius: 15px;
    -fx-padding: 15px;
    -fx-background-color: linear-gradient(to bottom, #fe0000, #ff4c31);
    -fx-border-radius: 15px;
    -fx-border-color: rgba(231, 70, 50, 0.2);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 2);
    -fx-background-radius: 15px;
    -fx-padding: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 2);
    -fx-transition: all 0.3s ease-in-out;
}

.pokemon-card-fire:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(255, 215, 0, 0.6), 15, 0.5, 0, 0);
}

/*estilo tipo de carta*/
.pokemon-card-water {
    -fx-background-radius: 15px;
    -fx-padding: 15px;
    -fx-background-color: linear-gradient(to bottom, #00477f, #0069b8);
    -fx-border-radius: 15px;
    -fx-border-color: rgba(231, 70, 50, 0.2);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 2);
    -fx-background-radius: 15px;
    -fx-padding: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 2, 2);
    -fx-transition: all 0.3s ease-in-out;
}


.pokemon-card-water:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(194, 0, 255, 0.76), 15, 0.5, 0, 0);
}

/*nombre pokemon*/
.pokemon-name {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: "Showcard Gothic";
}

.pokemon-image {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.3s ease-in-out;
}

.fire-image {
    -fx-effect: dropshadow(gaussian, rgba(255, 215, 0, 0.6), 15, 0.5, 0, 0);
    -fx-border-color: #F08030;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
}

.water-image {
    -fx-effect: dropshadow(gaussian, rgba(194, 0, 255, 0.76), 15, 0.5, 0, 0);
    -fx-border-color: #6890F0;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
}

.normal-image {
    -fx-effect: dropshadow(gaussian, rgba(254, 254, 254, 0.76), 15, 0.5, 0, 0);
    -fx-border-color: #c7c4c7;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
}

.pokemon-image:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}


/* Estilo base para ProgressBar */
.progress-bar {
    -fx-pref-width: 170px;
    -fx-pref-height: 20px;
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-padding: 3px;
}

/* Fondo del ProgressBar */
.progress-bar .track {
    -fx-background-color: #e8e8e8; /* Gris claro */
    -fx-background-radius: 10px;
}

/* Barra de progreso para tipo Normal */
.progress-bar-normal .bar {
    -fx-background-color: linear-gradient(to right, #837c83, #f4ece6);
    -fx-background-radius: 10px;
    -fx-effect: innershadow(gaussian, rgba(255, 69, 0, 0.5), 10, 0, 0, 0);
}

/* Barra de progreso para tipo Fire */
.progress-bar-fire .bar {
    -fx-background-color: linear-gradient(to right, #ff6347, #ff4500);
    -fx-background-radius: 10px;
    -fx-effect: innershadow(gaussian, rgba(255, 69, 0, 0.5), 10, 0, 0, 0);
}

/* Barra de progreso para tipo Water */
.progress-bar-water .bar {
    -fx-background-color: linear-gradient(to right, #00bfff, #1e90ff);
    -fx-background-radius: 10px;
    -fx-effect: innershadow(gaussian, rgba(30, 144, 255, 0.5), 10, 0, 0, 0);
}

/* Hover (opcional) para todos los tipos */
.progress-bar:hover .bar {
    -fx-opacity: 0.9;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-transition: all 0.3s ease-in-out;
}

/* Estilo base para las estadísticas */
.stat-value {
    -fx-font-family: "Showcard Gothic"; /* Tipografía acorde al estilo de las cartas */
    -fx-font-size: 14px; /* Tamaño del texto */
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
    -fx-alignment: center; /* Centrado del texto */
}

/* HP para tipos */
.hp-value-normal {
    -fx-background-color: linear-gradient(to right, #c7c4c7, #e8e8e8); /* Gris para Normal */
    -fx-border-color: rgba(149, 141, 143, 0.5);
    -fx-border-width: 1px;
}

.hp-value-fire {
    -fx-background-color: linear-gradient(to right, #fe0000, #ff4500); /* Rojo fuego */
    -fx-border-color: rgba(255, 69, 0, 0.5);
    -fx-border-width: 1px;
}

.hp-value-water {
    -fx-background-color: linear-gradient(to right, #35b2ec, #6890F0); /* Azul agua */
    -fx-border-color: rgba(30, 144, 255, 0.5);
    -fx-border-width: 1px;
}

/* Ataque */
.attack-value-normal {
    -fx-background-color: #d3d3d3; /* Gris claro */
}

.attack-value-fire {
    -fx-background-color: #ff6347; /* Naranja fuego */
}

.attack-value-water {
    -fx-background-color: #1e90ff; /* Azul brillante */
}

/* Defensa */
.defense-value-normal {
    -fx-background-color: #a5a3a5; /* Gris oscuro */
}

.defense-value-fire {
    -fx-background-color: #e43d30; /* Rojo fuerte */
}

.defense-value-water {
    -fx-background-color: #00bfff; /* Azul claro */
}

/* Ataque Especial */
.special-attack-value-normal {
    -fx-background-color: #c0c0c0; /* Gris neutro */
}

.special-attack-value-fire {
    -fx-background-color: #ff8c00; /* Naranja fuerte */
}

.special-attack-value-water {
    -fx-background-color: #87cefa; /* Azul cielo */
}

/* Defensa Especial */
.special-defense-value-normal {
    -fx-background-color: #8f8e8f; /* Gris pálido */
}

.special-defense-value-fire {
    -fx-background-color: #ff4500; /* Rojo fuego */
}

.special-defense-value-water {
    -fx-background-color: #4169e1; /* Azul royal */
}

.pokemon-title {
    -fx-font-family:"Showcard Gothic";
    -fx-font-size: 60px;
    -fx-text-fill: #FFD700; /* Dorado estilo Pikachu */
    -fx-effect: dropshadow(gaussian, black, 5, 0.7, 3, 3);
    -fx-stroke: #6f6b6b; /* Contorno oscuro */
    -fx-stroke-width: 2px;
    -fx-padding: 20px;
    -fx-background-radius: 20px;
    -fx-alignment: center;
}